<h2>Lista de Usuários:</h2>
<hr>
<a href="/admin/categorias/add"<button class="btn btn-success">Novo Usuário</button></a>
<a href="/admin"<button class="btn btn-primary">Voltar</button></a>


{{#each usuarios}}

<div class="card mt-4">
<div class="card-body">
    <h4>{{nome}}</h4>
    <small class="form-control mt-4">Código de permissão atual: {{eAdmin}}</small>
    <a href="/admin/usuarios/edit/{{_id}}"><button class="btn btn-primary mt-4">Editar Usuário</button></a>
    <form action="/admin/usuarios/deletar" method="POST">
    <input type="hidden" name="id" value="{{_id}}"><br>
    <button type="submit" class="btn btn-danger mt-4">Deletar Usuário</button></a>
    </form>
</div>
</div>

{{else}}

{{/each}}