<h2>Postagens Recentes de: {{categoria.nome}}</h2>

{{#each postagens}}


<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p class="mt-4">{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais.</button></a>
        <hr>
        <small>Data da publicação: {{data}}</small>
</div>
</div>

{{else}}
<h5>Nenhuma publicação recente.</h5>
{{/each}}